<div id="contact" class="w-full px-[12%] py-10 scroll-mt-20 ">
    <h4 class="text-center mb-2 text-lg">Connect with me</h4>
    <h2 class="text-center text-5xl ">Get in Touch</h2>
    <p class="text-center max-w-2xl mx-auto mt-5 mb-12">
        I'm always excited about new opportunities to apply my skills and contribute to innovative projects. 
        If you're looking for a passionate software developer who’s ready to bring ideas to life, I’d love to hear from you.
    </p>
    <form action="https://api.web3forms.com/submit" method="POST" class="max-w-2xl mx-auto">
        <input type="hidden" name="access_key" value="dad3c5cc-9af6-4b1c-98f1-3bddcb7cdcd3">
        <div class="grid grid-cols-2 gap-6 mt-10 mb-8 ">
            <input type="text" placeholder="Enter your name" class="flex-1 p-3 outline-none border-[0.5px] border-gray-400 rounded-md bg-white" name="name" required>
            <input type="email" placeholder="Enter your email" class="flex-1 p-3 outline-none border-[0.5px] border-gray-400 rounded-md bg-white" name="email" required>
        </div>
        <textarea rows="6" placeholder="Enter your message" class="w-full p-4 outline-none border-[0.5px] border-gray-400 rounded-md bg-white mb-6" name="message" required></textarea>
        <button class="py-3 px-8 w-max flex items-center justify-between gap-2 bg-black/80 text-white rounded-full mx-auto hover:bg-black duration-500" type="submit">Submit now</button>
    </form>
    
</div>
