<div class="mt-20">
    <div class="text-center">
      <img src="../../../assets/logo.png" class="w-36 mx-auto mb-2">
        <div class="w-max flex items-center gap-2 mx-auto">
            <i><p></p>✉️kaushikpatil1710&#64;gmail.com</i>
        </div>
    </div>
    <div class="text-center sm:flex items-center justify-between border-t border-gray-400 mx-[10%] mt-12 py-6">
        <p>©️ 2024 Kaushik Patil.All rights reserved</p>
        <ul class="flex items-center gap-10 justify-center mt-4 sm:mt-0">
            <li>
                <a href="https://www.linkedin.com/in/kaushik-patil-03903a243/">Linkedin</a>
            </li>
            <li>
                <a href="https://github.com/revansh1710">Git</a>
            </li>
        </ul>
    </div>
</div>