<div id="projects" class="w-full px-[12%] py-10 scroll-mt-20">
    <h2 class="text-center text-4xl md:text-5xl">My Latest Projects</h2>
    
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 my-10 gap-5">
        <!-- Stack Citadel -->
        <div class="aspect-square stack-citadel bg-no-repeat bg-cover bg-center rounded-lg relative cursor-pointer group">
            <div class="bg-white w-10/12 sm:w-9/12 rounded-md absolute bottom-5 left-1/2 -translate-x-1/2 py-3 px-5 flex items-center justify-between duration-500 group-hover:bottom-7">
                <div>
                    <h2 class="font-semibold">Stack Citadel</h2>
                    <p class="text-sm text-gray-700">Web Design</p>
                </div>
                <div class="border rounded-full border-black w-9 aspect-square flex items-center justify-center shadow-[2px-2px_0_#000] group-hover:bg-lime-300 transition">
                    <a href="https://melodious-belekoy-089136.netlify.app/"><i>🔗</i></a>
                </div>
            </div>
        </div>

        <!-- Task Manager -->
        <div class="aspect-square task-manager bg-no-repeat bg-cover bg-center rounded-lg relative cursor-pointer group">
            <div class="bg-white w-10/12 sm:w-9/12 rounded-md absolute bottom-5 left-1/2 -translate-x-1/2 py-3 px-5 flex items-center justify-between duration-500 group-hover:bottom-7">
                <div>
                    <h2 class="font-semibold">Task Manager</h2>
                    <p class="text-sm text-gray-700">Git</p>
                </div>
                <div class="border rounded-full border-black w-9 aspect-square flex items-center justify-center shadow-[2px-2px_0_#000] group-hover:bg-lime-300 transition">
                    <a href="https://github.com/revansh1710/task_manager"><i>🔗</i></a>
                </div>
            </div>
        </div>
    </div>
</div>
